
.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.timer-ctn {
  text-align: center;

  padding: 1rem 3rem;
  display: flex;


  margin: 1rem;
}
.adjust-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}
.study-ctn {
  margin: 1rem;
  padding: 1rem 3rem;

}
.rest-ctn {
  margin: 1rem;
  padding: 1rem 3rem;
  
}

.ctn {
  display: flex;
  flex-direction: column;
  background: chartreuse;
  border-radius: 5px;
}
.ctn-h {
  font-size: 1.5rem;
}
.ctn-n {
  font-size: 3rem;
}
.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 1rem 1rem 0rem;
  font-size: 1rem;
}
.start-btn {
  background: green;
}
.stop-btn {
  background: red;
}
